{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "valid-jsdoc": "off",
    "quotes": "off",
    "react/jsx-no-bind": "off",
    "react/prefer-stateless-function": [0, { "ignorePureComponents": 1}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
